
        <div class=" container row">
            <div class="col-md-6 " style="background: white; height: 100vh;  padding-left: 0;
            padding-right: 0">
            <div class="first">
          <div class="logo row"> <div class = "col-4 with">

            <img src="../../assets/logo.png" alt="" style="height:100px; width:130px">

           </div>
           <div class="col-4 with" >
               <h6>In Partnership with</h6>
           </div>
           <div class = "col-4 with">

            <img src="../../assets/momo.jpg" alt="" style="height:100px; width:130px; margin-left:10px">

           </div>
          </div>
       
        <div class="content">
            <h4>ClinicPesa</h4>
            <p > provides you with access to healthcare financing,
             that is more convenient and affordable than the traditional Insurance,
             through a digital micro-loans and savings platform for setting aside dedicated healthcare funds used to offset medical bills and purchase drugs in time of need at our registered clinic, hospital or pharmacy.</p>
         </div>


<div class=" video">
    <h4 >Testimonies</h4>
     <div class="row">
        
   
	<div class="col-md-6">
    <video class="embed-responsive-item" style="height: 100%; width:100%">
      <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
  </video>
	</div>
	<div class="col-md-6">
    <video  loop class="embed-responsive-item" style="height: 100%; width:100%">
      <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" >
  </video>
  </div>
  </div>
</div>
         </div>
        </div>
         <div class="col-md-6 two" style="position: relative" >
             <div class="secondcontent">
                    <h3>WHY US</h3>

                    <div class="row">
                        <div class="col-12">
                            <div class="media  p-3 flex-column flex-md-row">
                              <img src="../../assets/checked.png" alt="#" class="mr-3 rounded-circle" style="width:50px;">
                              <div class="media-body align-self-center">
                                <h6>MORE PAYING CUSTOMERS</h6>
                                <p>There is a 20% increase through MTN network</p>                              
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="media  p-3 flex-column flex-md-row">
                              <img src="../../assets/checked.png" alt="#" class="mr-3 rounded-circle" style="width:50px;">
                              <div class="media-body align-self-center">
                                 <h6>EASY ACCESS TO BANK LOANS</h6>
                       
    
                                     <p>There is a 20% increase through MTN network</p>                              
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="media  p-3 flex-column flex-md-row">
                              <img src="../../assets/checked.png" alt="#" class="mr-3 rounded-circle" style="width:50px;">
                              <div class="media-body align-self-center">
                                <h6>INSTANT PAYMENT</h6>
                                    <p>Customers will always have money from savings and the help of ClinicPesa loan.</p>
                                                  
                              </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="buttons">
                        <button type="button" style="align-items: flex-start" class="btn  float-left btn-lg" style="float:left"><img src="../../assets/chat.png" height="60px" width="60px"/></button>
                        <button  type="button"  style="margin-left:400px; height: 50px; ; background: rgb(20, 133, 153); color:white" routerLink="/register" class="btn btn-sm float-right">Sign up</button>
                       
                    </div>
                    
             </div>
           
           
         </div>
        </div>
        
       
    
