
    
    <header id="header">
        <nav id="main-menu" class="navbar fixed-top navbar-expand-lg " role="banner" style="padding-right:  20px; padding-left:  20px; overflow: hidden;  background: transparent;">
        <div class="clinicPesa-background"></div>
        <div class="container">
        <div class="navbar-header" >
            <button style="color: #17a2b8" class="navbar-toggler navbar-toggler-right custom-toggler"  data-toggle="collapse" type="button" 
            data-toggle="collapse" data-target="#collapsibleNavbar" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
            viewBox="0 0 30 30" role="img" focusable="false">
            <title>Menu</title><path stroke="currentColor" stroke-linecap="round" 
            stroke-miterlimit="10" stroke-width="1" d="M4 7h22M4 15h22M4 23h22">
          </path>
        </svg>
        <span class="sr-only">Toggle navigation</span>

      </button>

   
        <a class="navbar-brand" href="index.html" style="padding-top: -5%; padding-bottom: -5%;">
            <img src="../../assets/clinicpesalogo.png" width="130" height="70" class="d-inline-block logo" alt="">
      
        </a>
        </div>  
        </div>
        
        </nav>
        
        </header>
        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
      >
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>


<ng-template #loginform>
  <div class="modal-header">
    <h6 class="modal-title pull-left">ADMIN LOGIN</h6>
    
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
         <h5><i class="fa fa-lock" aria-hidden="true"></i> Login</h5>
           
            </div><br /><br />
             
            <form >
                      <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="username" [(ngModel)]="username" />
                  </div><br />
             
                      <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-key icon"></i></span>
                    </div>
                      <input type="Password" name="password" class="form-control" placeholder="password" [(ngModel)]="password"/>
                  </div><br />
                <div class="checkbox">
                  <!-- <label><input type="checkbox" value=""/> Remember me</label> -->
                </div><br />
                  <button  type="button" class="btn btn-success" (click)="login()" ><span class="glyphicon glyphicon-off"></span> Login</button>
                </form>
           
                   <br /><br />
           
     
      </div>
  </div>
</ng-template>
