header{
    .container{
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
        margin-left: auto ;
    }
    a{
        color: #17a2b8;
    }

}


.logo{
    margin-left:20px;
    padding-top: 10px;
}
.clinicPesa-background {
    background-size: contain;
    background:transparent;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin-left: -200px;
    width: calc(100% + 400px);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    box-shadow: 0 4px 5px 0 rgba(156, 156, 156, 0.14), 10px 1px 10px 0 rgba(189, 193, 194, 0.12), 0 2px 4px -1px rgba(114, 121, 122, 0.2);
}