<app-header></app-header>
<section class="body">
    <div>
        <div class="row main" >  
            <div class="col-2 left-side"
            >
<div>
        <button type="button" class="btn btn-light">Light</button>

</div>

<div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Masaka Hospital</h5>
          <h6 class="card-subtitle mb-2 text-muted">Masaka Town</h6>
          <p class="card-text">Tel: 0786878971</p>
        </div>
      </div>
            </div>
            <div class="col-10 right-side">

                <div>
                        <div class="card" >
                                <div class="card-header">
                                  Featured
                                </div>
                                <div class="card-body">
                                        <ul class="list-unstyled">
                                                <li class="">
                                                  <div class="row">
                                                   <div class="col"><h5 class="mt-0 mb-1">Document3</h5></div>
                                                   <div class="col">
                                                        <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                                <label class="form-check-label" for="exampleRadios1">
                                                                  Default radio
                                                                </label>
                                                        </div>
                                                        <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                                <label class="form-check-label" for="exampleRadios2">
                                                                  Second default radio
                                                                </label>
                                                        </div>
                                                        <div class="form-group">
                                                                <label for="exampleFormControlTextarea1">Reason</label>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                        </div>
                                                             
                                                   </div> 
                                                  </div>
                                                </li>
                                                <li class="">
                                                        <div class="row">
                                                                <div class="col"><h5 class="mt-0 mb-1">Document3</h5></div>
                                                                <div class="col">
                                                                     <div class="form-check">
                                                                             <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                                             <label class="form-check-label" for="exampleRadios1">
                                                                               Default radio
                                                                             </label>
                                                                     </div>
                                                                     <div class="form-check">
                                                                             <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                                             <label class="form-check-label" for="exampleRadios2">
                                                                               Second default radio
                                                                             </label>
                                                                     </div>
                                                                     <div class="form-group">
                                                                             <label for="exampleFormControlTextarea1">Reason</label>
                                                                             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                                     </div>
                                                                          
                                                                </div> 
                                                               </div>
                                                </li>
                                                <li class="">
                                                        <div class="row">
                                                                <div class="col-6"><h5 class="mt-0 mb-1">Document3</h5></div>
                                                                <div class="col">
                                                                     <div class="form-check">
                                                                             <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                                             <label class="form-check-label" for="exampleRadios1">
                                                                               Default radio
                                                                             </label>
                                                                     </div>
                                                                     <div class="form-check">
                                                                             <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                                             <label class="form-check-label" for="exampleRadios2">
                                                                               Second default radio
                                                                             </label>
                                                                     </div>
                                                                     <div class="form-group">
                                                                             <label for="exampleFormControlTextarea1">Reason</label>
                                                                             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                                     </div>
                                                                          
                                                                </div> 
                                                               </div>
                                                </li>
                                              </ul>
                                  <a href="#" class="btn btn-primary">Preview</a>
                                </div>
                              </div>
                </div>
                
                </div>
        </div>
    </div>
</section>