<app-header></app-header>
<section class="body">
        <div class="row main" >  
          <div class=" col-md-2 left-side">
        <div>
          <button type="button" class="btn btn-cp" (click)="goback()" >Back</button>
        </div> 
       
<div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{businessdata.facilityName}} &nbsp; {{businessdata.facilityType}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Location : {{location.district}} &nbsp; {{location.town}}</h6>
          <p class="card-text text-muted">Tel: {{businessdata.phone}} &nbsp;  0786878971</p>
        </div>
      </div>
            </div>
            <div class="col-md-10 right-side">
                        <div class="card" >
                                <div class="card-header">
                                  <b>Documents Validation</b>
                                </div>
                                <div class="card-body">
                                        <ul class="list-unstyled">
                                                <li class="" *ngFor="let document of businessdocuments">
                                                  <div class="row documentRow">
                                                   <div class="col"><p class="mt-0 mb-1">{{document.name}}</p></div>
                                                   <div class="col">
                                                        <div class="form-check form-check-inline">
                                                                <input class="form-check-input" id="inlineCheckbox1" [(ngModel)]="document.docState "  name="{{document.name}}" type="radio" value="VALID">
                                                                <label class="form-check-label" for="inlineCheckbox1">Valid</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                                <input class="form-check-input"  id="inlineCheckbox2"  [(ngModel)]="document.docState "  name="{{document.name}}" type="radio" value="INVALID">
                                                                <label class="form-check-label" for="inlineCheckbox2">Invalid</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                                <input class="form-check-input" id="inlineCheckbox3" [(ngModel)]="document.docState "  name="{{document.name}}" type="radio" value="Missing">
                                                                <label class="form-check-label" for="inlineCheckbox3">Missing</label>
                                                        </div>
                                                        <div class="form-group" *ngIf="document.docState === 'INVALID'">
                                                                <label for="reason">If No why is it rejected</label>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="document.reason" name="reason"></textarea>
                                                                <small id="emailHelp" class="form-text text-muted">It will be forwared to the user</small>
                                                        </div>
                                                             
                                                   </div> 
                                                  </div>
                                                </li>
                                              </ul>
                                  <button  class="btn btn-cp" (click)="onSubmit()">Save</button>
                                </div>
                              </div>
                <div class=" superAdmin row" *ngIf=" role == 'SuperAdmin'">
              <div class="col-xs-6 col-md-6"><button type="button" class="btn btn-cp btn-sm">Approve</button></div> 
                <div class="col-xs-6 col-md-6" style="float:right"><button type="button" class="btn btn-cp-light btn-sm">Reject</button></div>
               </div> 
                
                </div> 
        
    </div>
</section>