<app-header></app-header>

<section class="body">
        <div class="banner">
                <div class="loginForm">
                   <h3 class="text-center">ADMIN LOGIN</h3>
                  <form>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <input type="text" class="form-control" placeholder="Account ID" name="email"  [(ngModel)]="email">
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <input type="password" class="form-control" placeholder="password" name="password"  [(ngModel)]="password">
                        </div>
                      </div>
                    </form>
                    <div id="wrapper">
                    <button type="button" class="btn  btn-cp" (click)="login()">Login</button>
                    
                   </div>
                </div> 
              </div>
    <!-- <div class="banner">
      <div class="loginForm">
        <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>
          </form>
      </div>
    </div> -->
</section>
