<div class="mainbody">
    <div class="card offBoudary">
        <div class="media">
            <img src="../../../assets/profile.svg" class="mr-3" alt="..." style="flex:1; height:150px; width:150px">
            <div class="media-body" style="flex:4">
              <div class="row">
                  <div class="col-md-8">
                    <h5 class="mt-0">{{FieldOfficer?.firstName}} &nbsp; {{FieldOfficer?.lastName}}</h5>
                    <small style="color:#ccc">{{FieldOfficer?.Division}} Division </small><br/>
                    <span>{{FieldOfficer?.email}}</span><br/>
                    <span>{{FieldOfficer?.phone}}</span><br/>
                    <span>{{FieldOfficer?.fieldOfficerID}}</span><br/>
                    <div class="row" style="width:100%">
                     
                        <div class="col-md-12"><nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Facilities</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Closed Facilities</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Rejected Facilities</a>
                            </div>
                        </nav>       
                    </div>
                    </div>
                  </div>
                <div class="col-md-4 " >
                   <div class="card1">
                    <div class="" style="padding: 5px">
                        <b>{{allFacilities?.length}} Facilities</b>
                        
                    </div> 
                   <div class="" style="padding: 5px">
                        <b>{{closedFacilities?.length}} Closed</b>
                    </div>
                   </div> 
                </div>
              </div>
          </div>
    </div>




</div>
<div class="row offBoudary">
    <div class=" card col-md-8 tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <h6>Facilities</h6>
            <div class="panel-body">
                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Facility Name</th>
                        <th>Location</th>
                        <th>Contact</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let facility of myFacilities; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{facility?.facilityName}}</td>
                        <td>{{facility?.location2.town}} &nbsp; {{facility?.location2.road}}</td>
                        <td>{{facility?.email}}</td>
                        <td>{{facility?.businessState}}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bob</td>
                        <td>Bob</td>
                        <td>Loblaw</td>
                        <td>boblahblah</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div  class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <h6>Facilities</h6>
            <div class="panel-body">
                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Facility Name</th>
                        <th>Location</th>
                        <th>Contact</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let facility of closedFacilities; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{facility.facilityName}}</td>
                        <td>{{facility.location2.town}} &nbsp; {{facility.location2.road}}</td>
                        <td>{{facility.email}}</td>
                        <td>{{facility.businessState}}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bob</td>
                        <td>Loblaw</td>
                        <td>boblahblah</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
        <div  class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <h6>Facilities</h6>
            <div class="panel-body">
                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Facility Name</th>
                        <th>Location</th>
                        <th>Contact</th>
                        <th>Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let facility of closedFacilities let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{facility.facilityName}}</td>
                        <td>{{facility.location2.town}} &nbsp; {{facility.location2.road}}</td>
                        <td>{{facility.email}}</td>
                        <td>{{facility.businessState}}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bob</td>
                        <td>Loblaw</td>
                        <td>boblahblah</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class=" col-md-4">
      <div class="card" style="width: 105%">
        <h6>Notification</h6>

        <mat-list *ngFor="let notification of notifications">
            <div mat-subheader>Folders</div>
            <mat-list-item >
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>one</div>
              <div mat-line> 12/03/2020 </div>
            </mat-list-item>
          </mat-list>
      </div>

    </div>
  </div>
</div>
